@model IEnumerable<BugTrackingSystem.Models.Notification>

@{
    ViewData["Title"] = "Index";
}

<h1>Notification</h1>



<style>
    .tab-pane {
        max-height: 800px; /* Ajusta este valor según tus necesidades */
        overflow-y: auto; /* Habilita el scrollbar verticalmente cuando el contenido excede la altura máxima */
    }
        /* Estiliza el scrollbar */
        .tab-pane::-webkit-scrollbar {
            width: 5px; /* Ajusta el ancho del scrollbar */
        }

        .tab-pane::-webkit-scrollbar-track {
            background: #f1f1f1; /* Color de la pista del scrollbar */
        }

        .tab-pane::-webkit-scrollbar-thumb {
            background: #888; /* Color del scrollbar */
        }

            .tab-pane::-webkit-scrollbar-thumb:hover {
                background: #555; /* Color del scrollbar al pasar el mouse */
            }

</style>
<!-- Nav tabs -->
<ul class="nav nav-tabs mb-5" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="tab" href="#all-notifications" role="tab">
            <span>All Notifications</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#ticket-notifications" role="tab">
            <span>Tickets Notification</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#project-notifications" role="tab">
            <span>Projects Notification</span>
        </a>
    </li>
</ul>
<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="all-notifications" role="tabpanel">
        @foreach (var notification in Model)
        {
            <div class="notification">
                <h4>@notification.Title</h4>
                <h5>@notification.NotificationType.Name</h5>
                <p>@notification.Message</p>
                <p>Created: @notification.Created.ToString("MMM dd yyyy hh:mm:ss tt")</p>
            </div>
            <div class="my-3" style="height: 1px; background-color: #333;"></div>
        }
    </div>
    <div class="tab-pane p-3" id="ticket-notifications" role="tabpanel">
        @foreach (var notification in Model.Where(n => n.NotificationType.Name == "Ticket"))
        {
            <div class="notification">
                <h4>@notification.Title</h4>
                <h5>@notification.NotificationType.Name</h5>
                <p>@notification.Message</p>
                <p>Created: @notification.Created.ToString("MMM dd yyyy hh:mm:ss tt")</p>
            </div>
            <div class="my-3" style="height: 1px; background-color: #333;"></div>
        }
    </div>
    <div class="tab-pane p-3" id="project-notifications" role="tabpanel">
        @foreach (var notification in Model.Where(n => n.NotificationType.Name == "Project"))
        {
            <div class="notification">
                <h4>@notification.Title</h4>
                <h5>@notification.NotificationType.Name</h5>
                <p>@notification.Message</p>
                <p>Created: @notification.Created.ToString("MMM dd yyyy hh:mm:ss tt")</p>
            </div>
            <div class="my-3" style="height: 1px; background-color: #333;"></div>
        }
    </div>
</div>

