@model IEnumerable<ManageUserRolesViewModel>





<div class="row">
    <div class="col-lg-12 d-flex align-items-stretch">
        <div class="card w-100">
            <div class="card-body">
                <h5 class="card-title text-uppercase mb-0">Manage Users</h5>
            </div>
            <div class="table-responsive">
                <table class="table no-wrap user-table mb-0">
                    <thead>
                        <tr>
                            <th scope="col"
                                class="
                            border-0
                            text-uppercase
                            font-weight-medium
                            ps-4
                          ">
                                #
                            </th>
                            <th scope="col"
                                class="border-0 text-uppercase font-weight-medium">
                                Name
                            </th>
                            <th scope="col"
                                class="border-0 text-uppercase font-weight-medium">
                                Email
                            </th>
                            <th scope="col"
                                class="border-0 text-uppercase font-weight-medium">
                                Role
                            </th>
                            <th scope="col"
                                class="border-0 text-uppercase font-weight-medium">
                                Manage
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var i = 0;
                        }
                        @foreach (var viewModel in Model)
                        {
                            <tr>
                                <td class="ps-4">1</td>
                                <td>
                                    <div class="d-flex align-items-start">
                                        <img src="../../assets/images/users/1.jpg"
                                             class="rounded-circle"
                                             width="35" />
                                        <div class="ms-2">
                                            <h5 class="font-weight-medium mb-0">
                                                @viewModel.BTUser!.FullName
                                            </h5>

                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <span>  <span>@viewModel.BTUser!.Email</span><br /></span><br />

                                </td>
                                <td>
                                    <form id="myForm@(i)" class="myForm" asp-action="ManageUserRoles" asp-controller="Companies" method="post">
                                        <input type="hidden" asp-for="@viewModel.BTUser.Id" />
                                        <div class="form-group">

                                            <select class="form-select category-select" id="exampleFormControlSelect1" name="SelectedRoles">
                                                <option selected disabled>@viewModel.CurrentRole</option>
                                                @foreach (var role in viewModel.Roles?.ToList())
                                                {
                                                    <option>@role.Value</option>
                                                }
                                            </select>
                                        </div>

                                    </form>
                                </td>
                                <td>
                                    <div class="button-group d-flex align-items-center">
                                        <a href="#" onclick="$('#myForm@(i)').submit();" class="btn-submit@(i) btn-submit">
                                            <i class=" mdi mdi-sd"></i>
                                            <span class="tooltip">Save</span>
                                        </a>

                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>







<style>
    .btn-submit {
        position: relative;
        display: inline-block;
    }

        .btn-submit .tooltip {
            visibility: hidden;
            width: 120px;
            background-color: #555;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            position: absolute;
            z-index: 1;
            bottom: 125%;
            left: 50%;
            margin-left: -60px;
            opacity: 0;
            transition: opacity 0.3s;
        }

        .btn-submit:hover .tooltip {
            visibility: visible;
            opacity: 1;
        }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        for (let i = 0; i < @Model.Count(); i++) {
            $(".btn-submit" + i).click(function () {
                $("#myForm" + i).submit();
            });
        }
    });
</script>





