@model IEnumerable<BugTrackingSystem.Models.Project>


@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-action="Create">Create New Project</a>

</p>



<!-- order table -->
<div class="row">
    <div class="col-12">
        <div class="card">

            <div class="card-body">
                <h4 class=" mb-3">
                    Project List
                </h4>
                <div class="table-responsive">
                    <table id="myTable"
                           class="table table-striped table-bordered display"
                           style="width: 100%">
                        <thead>
                            <tr>
                                <th>PROJECT</th>
                                <th>END DATE</th>
                                <th>PRIORITY</th>
                                <th>PROJECT MANAGER</th>
                                <th>TEAM</th>
                                <th>STATUS</th>
                                <th></th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var project in Model)
                            {
                                <tr>

                                    <td>
                                        @project.Name
                                        <br>
                                        <small>Start Date: @project.StartDate.ToString("d")</small>
                                    </td>

                                    <td>@project.EndDate.ToString("d")</td>
                                    <td>@(project.ProjectPriority != null ? project.ProjectPriority.Name : "No Priority Assigned")</td>
                                    <td> <a asp-action="AssignPM" asp-route-id="@project.Id">Assign PM</a></td>
                                    <td> <a asp-action="AssignProjectMembers" asp-route-id="@project.Id">Manage Team</a></td>
                                    <td></td>


                                    <td style="text-align: center;">
                                        <a asp-controller="Projects" asp-action="Details" asp-route-Id="@project.Id" class="btn waves-effect waves-light text-info custom-tooltip" data-title="Details">
                                            <i class="mdi mdi-details"></i>
                                        </a>
                                        <a asp-controller="Projects" asp-action="Edit" asp-route-id="@project.Id" class="btn waves-effect waves-light text-info custom-tooltip" data-title="Edit">
                                            <i class="mdi mdi-pencil"></i>
                                        </a>


                                        <form asp-controller="Projects" asp-action="ArchiveProject" method="post" style="display: inline-block;">
                                            <input type="hidden" name="id" value="@project.Id" />
                                            <button type="submit" class="btn waves-effect waves-light text-danger custom-tooltip" data-title="Archive">
                                                <i class="mdi mdi-archive"></i>
                                            </button>
                                        </form>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<style>



    .custom-tooltip {
        position: relative;
    }

        .custom-tooltip::after {
            content: attr(data-title);
            position: absolute;
            bottom: 100%;
            left: 50%;
            transform: translateX(-50%);
            background-color: #333;
            color: #fff;
            padding: 5px 10px;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            white-space: nowrap;
            opacity: 0;
            pointer-events: none;
            transition: opacity 0.3s ease-in-out;
        }

        .custom-tooltip:hover::after {
            opacity: 1;
        }
</style>

